div{
    width: 150px;
    height: 150px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes example{
    0%{
        background-color: red;
       border-radius: 25%;
       left: 0px;top: 0px;
      
    }
    15%{
        background-color: yellow;
        border-radius: 25%;
        left: 0px;top: 200px;
    }
    25%{
        background-color: aqua;
        border-radius: 25%;
        left: 200px;top: 200px;
    }
    35%{
        background-color: blueviolet;
        border-radius: 25%;
        left: 200px;top: 0px;
    }
    45%{
        background-color: azure;
        border-radius: 25%;
        left: 0px;top: 200x;
    }
    50%{
        background-color: blanchedalmond;
        border-radius: 25%;
        left: 0px;top: 0px;
    }

}